doctype html
html
    head
        title='Бургеры'
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBjo3uCuhAPyeFHZbdjgjRtw3V3guPjAQk&callback=initMap')
    body
        include src/index-content.pug