$clShark: #2f3234;
$clYellow: #f9b43b;
$clCinnabarLight: #e45028;
$clThunderbird: #c1401e;
$clJaffa: #eb8c38;
$clWhite: #ffffff;
$clCinnabar: #e35028;
$clSharkBlack: #1f2122;
$clQuillGray: #d1cfcb;
$clBlack: #000000;