@import "./common.scss";

.downArrow {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -15px;
    transition: .3s;
}

.downArrow__iconWrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.downArrow__icon {
    fill: $clWhite;
    display: block;
}

.downArrow:hover svg {
    top: -15px;
    width: 35px;
    height: 35px;
}

.downArrow svg {
    width: 30px;
    height: 30px;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    top: 0;
}