.header {
    padding-top: 12px;
}

.header__logo {
    float: left;
    width: 32%;
}

.header__menu {
    float: left;
    width: 68%;
    padding-top: 16px;
}

.nav {
    width: 83%;
    display: inline-block;
    vertical-align: middle;
}

.orderLink {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 0;
    margin-left: 2%;
}

.nav__list {
    width: 100%;
}

.nav__item {
    white-space: nowrap;
    margin-right: 15px;
    display: block;
    float: left;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item:last-child:after {
    display: none;
}

.nav__item:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
    margin-left: 15px;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-weight: 500;
}

.nav__link:hover {
    text-decoration: underline;
}