@import "./common.scss";

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
ul {
    padding: 0;
    margin: 0;
}
body {
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-family: 'Ubuntu';
    color: $clShark;
    font-weight: 300;
}

body.locked {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-width: 960px;
    height: 100%;
}

.maincontent {
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: 1s;
    min-height: 650px;
}

.section {
    height: 100%;
    height: 100vh;
    min-height: 650px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    background: $clCinnabar;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 9px 16px;
    font-family: 'Ubuntu-Medium';
    transition: background .3s;
}


.btn:hover {
    background: $clThunderbird;
}

.section__title {
    color: $clYellow;
    font-size: 72px;
    font-family: 'Gagalin';
    margin-bottom: 12px;
    font-weight: 400;
}

.section__title.section__title_black {
    color: $clShark;
}

.section__title.section__title_white {
    color: white;
}

.textBlock p {
    font-size: 14px;
    line-height: 1.8;
}

.nav__list:before,
.menu-acco:before,
.order__form:before,
.order__formRow:before,
.reviews__list:before,
.teamAcco__content:before,
.nav__list:after,
.menuAcco:after,
.order__form:after,
.order__form-row:after,
.reviews__list:after,
.team-acco__content:after {
    content: "";
    display: table;
}

.nav__list:after,
.menuAcco:after,
.order__form:after,
.order__form-row:after,
.reviews__list:after,
.team-acco__content:after {
    clear: both;
}