@import "./common.scss";

.menu {
  background: url("../images/menu.jpg") 50% no-repeat;
  background-size: cover;
  position: relative;
}

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%;
}

.menuAcco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.menuAcco__item {
  float: left;
  height: 100%;
}

.menuAcco__item.active .menuAcco__triggerText {
  color: $clYellow;
}

.menuAcco__trigger {
  width: 80px;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
}

.menuAcco__triggerText {
  font-size: 40px;
  color: $clWhite;
  font-family: 'Gagalin';
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  text-align: center;
  white-space: nowrap;
  width: 650px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: -275px;
  margin-top: -40px;
  font-weight: 400;
}

.menuAcco__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
}

.menuAcco__text {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: $clWhite;
  padding: 60px 30px;
  width: 550px;
  line-height: 1.8;
  font-weight: 300;
}
