section.section.best
    .container
        .section__title.section__title_black Мы лучшие
        ul.best__list
            each val in ['100% свежее мясо', 'Ручная сборка', 'Натуральные ингредиенты']
                li.best__item
                    .best__icon
                        .best__iconPic
                            svg.best__iconImage
                                use
                    .best__title=val
                    .best__text.textBlock
                        p
                            | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.