section.section.best
    .container
        .section__title.section__title_black Мы лучшие
        ul.best__list
            li.best__item
                .best__icon
                    .best__iconPic
                        svg.best__iconImage(fill='#e25028')
                            use(xlink:href='./src/images/icons/sprite.svg#meat')
                .best__title 100% свежее мясо
                .best__text.textBlock
                    p
                        | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
            li.best__item
                .best__icon
                    .best__iconPic
                        svg.best__iconImage(fill='#f8b43a')
                            use(xlink:href='./src/images/icons/sprite.svg#hand')
                .best__title Ручная сборка
                .best__text.textBlock
                    p
                        | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
            li.best__item
                .best__icon
                    .best__iconPic
                        svg.best__iconImage(fill='#8ac03e')
                            use(xlink:href='./src/images/icons/sprite.svg#natural')
                .best__title Натуральные ингредиенты
                .best__text.textBlock
                    p
                        | Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
