footer.footer
    .container
        .footer__col
            .footer__address Москва, ул.Пушкина, д.Колотушкина
            a.footer__phone(href='tel:+79253595322') +7 (925) 359-5322
        .footer__col.footer__col_right
            ul.socials
                each val in ['vk', 'fb', 'inst', 'twitter']
                    li.socials__item
                        a.socials__link(href='#')
                            svg.socials__icon
                                use
