footer.footer
    .container
        .footer__col
            .footer__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
            a.footer__phone(href='tel:+78123771377') +7 (812) 377-13-77
        .footer__col.footer__col_right
            ul.socials
                li.socials__item
                    a.socials__link(href='#')
                        svg.socials__icon
                            use(xlink:href='./src/images/icons/sprite.svg#vk')
                li.socials__item
                    a.socials__link(href='#')
                        svg.socials__icon
                            use(xlink:href='./src/images/icons/sprite.svg#fb')
                li.socials__item
                    a.socials__link(href='#')
                        svg.socials__icon
                            use(xlink:href='./src/images/icons/sprite.svg#inst')
                li.socials__item
                    a.socials__link(href='#')
                        svg.socials__icon
                            use(xlink:href='./src/images/icons/sprite.svg#twitter')