header.header
    .container
        .header__logo
            a.logo(href='#')
                img(src='./src/images/icons/logo.svg', alt='Логотип')
        .header__menu
            nav.nav
                ul.nav__list
                    mixin navLi(caption, idx)
                        li.nav__item
                            a.nav__link(href=idx)=caption
                    -var navlist = ['она нас', 'бургеры', 'команда', 'меню', 'отзывы']
                    each item, index in navlist
                        +navLi(item, index + 1)
                    +navLi('контакты', 7)    
            a.orderLink.btn(href='6') Заказать
