section.section.hero
    .container
        include header.pug
        .hero__container
            .container
                .hero__content
                    .hero__left
                        img.hero__img(src='./src/images/burger.png', alt='')
                    .hero__right
                        .section__title Мы делаем
                        .hero__desc Натуральные бургеры
    include downArrow.pug
