#success.statusPopup.popup
    .statusPopup__inner
        .statusPopup__message Сообщение отправлено
        a.statusPopup__close.btn(href='#') Закрыть
#error.statusPopup.popup
    .statusPopup__inner
        .statusPopup__message.errorMessage Произошла ошибка
        a.statusPopup__close.btn(href='#') Закрыть

