section.section.team
    .team__section
        .section__title Команда
        ul.teamAcco
            mixin teamItem(__name, __title, __content)
                li.teamAcco__item
                    a.teamAcco__trigger(href='#')=__name
                    .teamAcco__content
                        .teamAcco__pic
                            .teamAcco__img
                        .teamAcco__text
                            .teamAcco__title=__title
                            .teamAcco__textContent=__content
            -
                var items = [['дэниэл редклифф', 'Шеф-повар', 'С радостью поможет подобрать идеальный бургер и оформить заказ.'],
                ['ричард джеймс', 'Оператор', 'С радостью поможет подобрать идеальный бургер и оформить заказ.'],
                ['Джейк Финн','Менеджер', 'С радостью поможет подобрать идеальный бургер и оформить заказ.'],
                ['Николай Иванов','Шоколатье', 'С радостью поможет подобрать идеальный бургер и оформить заказ.']
                ]
            each item in items
                +teamItem(item[0], item[1], item[2])

