section.section.team
    .team__section
        .section__title Команда
        ul.teamAcco
            li.teamAcco__item
                a.teamAcco__trigger(href='#') дэниэл редклифф
                .teamAcco__content
                    .teamAcco__pic
                        .teamAcco__img(style="background-image: url('img/content/teammate.jpg')")
                    .teamAcco__text
                        .teamAcco__title Шеф-повар
                        .teamAcco__textContent С радостью поможет подобрать идеальный бургер и оформить заказ.
            li.teamAcco__item
                a.teamAcco__trigger(href='http://loftschool.testicola.com/works/landing/step1/#') ричард джеймс
                .teamAcco__content
                    .teamAcco__pic
                        .teamAcco__img(style="background-image: url('img/content/teammate.jpg')")
                    .teamAcco__text
                        .teamAcco__title Оператор
                        .teamAcco__textContent С радостью поможет подобрать идеальный бургер и оформить заказ.
            li.teamAcco__item
                a.teamAcco__trigger(href='#') Джейк Финн
                .teamAcco__content
                    .teamAcco__pic
                        .teamAcco__img(style="background-image: url('../images/teammate.jpg')")
                    .teamAcco__text
                        .teamAcco__title Менеджер
                        .teamAcco__textContent С радостью поможет подобрать идеальный бургер и оформить заказ.
            li.teamAcco__item
                a.teamAcco__trigger(href='#') Николай Иванов
                .teamAcco__content
                    .teamAcco__pic
                        .teamAcco__img(style="background-image: url('../images/teammate.jpg')")
                    .teamAcco__text
                        .teamAcco__title Шоколатье
                        .teamAcco__textContent С радостью поможет подобрать идеальный бургер и оформить заказ.
