.wrapper
    .maincontent
        include sections/hero.pug
        include sections/best.pug
        include sections/burgers.pug
        include sections/team.pug
        include sections/menu.pug
        include sections/reviews.pug
        include sections/order.pug
        include sections/map.pug
    include sections/fixedMenu
    include sections/reviewPopup
    include sections/statusPopup